
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
 /* background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%); */
 background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}
a {
  color: inherit;
  text-decoration: none;
}


